.home-page {
  height: 99vh;
  background: url('bg2.jpg') no-repeat;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  padding: 8px;
}

main {
  height: 99vh;
  justify-content: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

main>h1 {
  margin-top: 0px;
}


aside {
  height: 99vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside>p {
  margin-top: 60px;
  font-weight: 500;
}
