.home-page {
  height: 99vh;
  background: url('bg2.jpg') no-repeat;
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  padding: 8px;
}

main {
  height: 99vh;
  justify-content: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}

main>h1 {
  margin-top: 0px;
}


aside {
  height: 99vh;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside>p {
  margin-top: 60px;
  font-weight: 500;
}

/* header  */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #00ff0f82;
}

header>h2 {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

nav>button {
  background-color: #00ff0f82;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 2px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;

}
