.home-page {
  height: 95vh;
  background: url('bg2.jpg') no-repeat;
  border: 1px dotted;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

main {
  display: grid;
  justify-content: center;
}
